<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Logowanie do konta</title>
</head>
    <h1>Wpisz dane logowanie</h1>
<body>
    <form action="" method="post">
        {{ login_form.hidden_tag() }}
        <p>
            {{ login_form.email.label }}<br>
            {{ login_form.email(size=30) }}
        </p>
        <p>
            {{ login_form.password.label }}<br>
            {{ login_form.password(size=30) }}
        </p>
        <p>
            {{ login_form.submit() }}
        </p>
    </form>
   <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li><b>{{ message }}</b></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
</body>
</html>