<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Utwórz konto</title>
</head>
    <h1>Załóż konto użytkownika</h1>
<body>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.user_name.label }}<br>
            {{ form.user_name(size=30) }}
        </p>
        <p>
            {{ form.user_surname.label }}<br>
            {{ form.user_surname(size=30) }}
        </p>
        <p>
            {{ form.user_email.label }}<br>
            {{ form.user_email(size=30) }}
            {% for error in form.user_email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.user_password.label }}<br>
            {{ form.user_password(size=30) }}
        </p>
        <p>
            {{ form.user_password_2.label }}<br>
            {{ form.user_password_2(size=30) }}
            {% for error in form.user_password_2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
</body>
</html>